<div class="section1 flexbox flex-column align-vertical bg-img">
	<p>Technology at your fingertips.</p>
	<p>Products and services that change lives.</p>
	<div class="flexbox">
		<div class="point bg-yellow"></div>
		<div class="point bg-green"></div>
		<div class="point bg-red"></div>
		<div class="point bg-blue"></div>
	</div>
</div>

<div class="section2 flex-wrap flexbox align-vertical justify-center" name="about" id="about">
	<div class="flexbox flex-wrap align-vertical justify-center">
		<div class="square-frame">
			<div class="square">
				<img src="assets/imgs/team2.jpeg" alt="">
			</div>
			<div class="ctn-lines">
				<div class="line bg-yellow"></div>
				<div class="line bg-green"></div>
				<div class="line bg-red"></div>
				<div class="line bg-blue"></div>
			</div>
		</div>
	</div>
	<div class="about">
		We are a multidisciplinary group of developers in charge of creating innovative products and services in diverse technological areas, from applied electronics to complex software products, always focused on offering striking, friendly and useful solutions that generate an added value of quality for the use of our users which are our reason for being.
		<div>
			<img src="assets/imgs/gd.svg">
		</div>
	</div>
</div>
<div class="section2-5 flexbox justify-center align-vertical flex-wrap" id="team">
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/juandavid_xs.jpg" alt="">
		</div>
		<p class="name">JUAN DAVID AGUDELO</p>
		<p class="charge">CEO & COFOUNDER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/cristian_xs.jpg" alt="">
		</div>
		<p class="name">CRISTIAN MARIN</p>
		<p class="charge">CEO & COFOUNDER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/james_xs.jpg" alt="">
		</div>
		<p class="name">JAMES CARDONA</p>
		<p class="charge">MANAGER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/cristiancamilo_xs.jpg" alt="">
		</div>
		<p class="name">CRISTIAN CAMILO</p>
		<p class="charge">PROJECT MANAGER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/juanquintero_xs.jpg" alt="">
		</div>
		<p class="name">JUAN QUINTERO</p>
		<p class="charge">ANDROID LEADER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/federico_xs.jpg" alt="">
		</div>
		<p class="name">FEDERICO VELASQUEZ</p>
		<p class="charge">DESIGN LEADER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/robinson_xs.jpg" alt="">
		</div>
		<p class="name">ROBINSON RUEDA</p>
		<p class="charge">FRONTEND LEADER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/jinme_xs.jpg" alt="">
		</div>
		<p class="name">JINME MIRABAL</p>
		<p class="charge">BACKEND LEADER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/camilo_xs.jpg" alt="">
		</div>
		<p class="name">CAMILO RESTREPO</p>
		<p class="charge">MARKETING LEADER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/jesus_xs.jpg" alt="" class="jesus">
		</div>
		<p class="name">JESUS MARTINEZ</p>
		<p class="charge">FRONTEND DEVELOPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/jeff_xs.jpg" alt="">
		</div>
		<p class="name">JEFFERSON ORTIZ</p>
		<p class="charge">FRONTEND DEVELOPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/atehortua_xs.jpg" alt="">
		</div>
		<p class="name">CRISTIAN ATEHORTUA</p>
		<p class="charge">FRONTEND DEVELOPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/santiago_xs.jpg" alt="">
		</div>
		<p class="name">SANTIAGO SANCHEZ</p>
		<p class="charge">DEVOPS</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/david_xs.jpg" alt="">
		</div>
		<p class="name">DAVID LONDOÑO</p>
		<p class="charge">BACKEND DEVELOPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/leon_xs.jpg" alt="">
		</div>
		<p class="name">LEON PEÑA</p>
		<p class="charge">BACKEND DEVELOPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/sergio_xs.jpg" alt="">
		</div>
		<p class="name">SERGIO CRUZ</p>
		<p class="charge">BACKEND DEVELOPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/mateo_xs.jpg" alt="">
		</div>
		<p class="name">MATEO CALLEJAS</p>
		<p class="charge">UX PROTOTYPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/sebastian_xs.jpg" alt="">
		</div>
		<p class="name">SEBASTIAN MARIN</p>
		<p class="charge">ILLUSTRATOR DESIGN</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/pepe_xs.jpg" alt="">
		</div>
		<p class="name">PEDRO CARDONA</p>
		<p class="charge">COMMUNITY MANAGER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/camilor_xs.jpg" alt="">
		</div>
		<p class="name">CAMILO RAMIREZ</p>
		<p class="charge">CUSTOMER SERVICE</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/rayan_xs.jpg" alt="">
		</div>
		<p class="name">RYAN FAUSCIANA</p>
		<p class="charge">CUSTOMER SERVICE</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/melissa_xs.jpg" alt="">
		</div>
		<p class="name">MELISSA MUÑOZ</p>
		<p class="charge">IOT DEVELOPER</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/juanbernardo_xs.jpg" alt="">
		</div>
		<p class="name">JUAN ORTIZ</p>
		<p class="charge">MEDIALOP CEO</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/juanes_xs.jpg" alt="">
		</div>
		<p class="name">JUAN CALLEJAS</p>
		<p class="charge">CONTENT CURATOR</p>
	</div>
	<div class="circle-ctn flexbox flex-column justify-center align-vertical">
		<div class="circle">
			<img src="assets/imgs/team/mauricio_xs.jpg" alt="">
		</div>
		<p class="name">MAURICIO HENAO</p>
		<p class="charge">CRYPTO TRADER</p>
	</div>
</div>
<div class="section3 flex-wrap flexbox align-vertical justify-center" name="projects" id="projects">
	<a href="http://medialop.com/" target="_blank"><img src="assets/imgs/medialop.svg"></a>
	<img src="assets/imgs/hummi.svg" class="img-bigger">
	<a href="https://sirjohnsandwich.com/" target="_blank"><img src="assets/imgs/sirjohn.svg" class="img-bigger"></a>
	<img src="assets/imgs/accesio.svg">
	{{!-- <a href="https://www.instagram.com/tenemoslaformula/" target="_blank"><img src="assets/imgs/nerd.svg"></a> --}}
	<a href="https://cryptoblackmoon.github.io/" target="_blank"><img src="assets/imgs/blackgold.png" class="blackgold"></a>
</div>
<div class="section4 flex-wrap flexbox align-vertical space-between" name="contact" id="contact">
	<div class="contact-txt flex-column">
		<div class="flexbox">
			<div class="point point-large bg-yellow"></div>
			<span>admin@geekdevelopers.co</span>
		</div>
		<div class="flexbox">
			<div class="point point-large bg-green"></div>
			<span>Calle 5a #39 - 93 Torre 2</span>
		</div>
		<div class="flexbox">
			<div class="point point-large bg-red"></div>
			<span>Medellin, Colombia</span>
		</div>
		<div class="flexbox">
			<div class="point point-large bg-blue"></div>
			<span>+57 3006735230</span>
		</div>
	</div>
	<div>
		<img src="assets/imgs/geekdevelopers.svg" alt="">
	</div>
</div>