.navbar {
	@include align-vertical();
	@include justify-content(space-between);
	color: white;
	padding: 0 36px;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	img {
		height: 28px;
		margin: 12px;
	}
	.menu-responsive {
		display: none;
	}
}

.items-navbar {
	@include align-vertical();
	.main-link {
		cursor: pointer;
		margin: 0;
		margin-left: 12px;
		a {
			padding: 1.5em;
			font-size: 20px;
			display: block;
		}
		&:hover{
			background-color: rgba(255,255,255,0.1);
		}
	}
	a {
		color: white;
		text-decoration: none;
		font-family: robotobold;
	}
}

.animated.navbar {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
}

.navbar {
	transition: background-color 1s !important;
}

.navbar:not(.headroom--top), .navbar.not-transparent {
	background-color: rgba(21,21,21,0.995);
	border-bottom: 1px solid #2a2a2a;
}

@media screen and (max-width: 927px) {
	.navbar {
		padding: 12px 24px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		justify-content: center;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		@include flex-direction(column);
		padding: 0;
		&.responsive-header {
			.items-navbar {
				@include flex-direction(column);
				width: 100%;
				display: none;
				height: 0;
				opacity: 0;
				transition: all 1s;
				.main-link {
					padding: 0;
					margin-left: 0;
					width: 100%;
					a {
						display: block;
						width: 100%;
						text-align: center;
					}
				}
			}
			.menu-responsive {
				font-size: 32px;
				color: white;
				cursor: pointer;
				display: block;
				&:before {
					color: white;
				}
			}
			.items-navbar.active-menu {
				@include flexbox-important();
				margin-top: -12px;
				height: 332px;
				opacity: 1;
			}
		}
		&.header-open {
			background-color: rgba(21,21,21,0.995);
			transition: all 1s;
		}
		.ctn-imgs-menu {
			width: 100%;
		    padding: 12px 24px;
			@include align-vertical();
			@include justify-content(space-between);
		}
	}
	.section-intro {
		padding: 200px 12px 190px;
	}
}

@media screen and (max-width: 591px) {
	.navbar {
		&.responsive-header {
			.ctn-imgs-menu {
				img {
					height: 22px;
				}
				.menu-responsive {
					font-size: 28px;
				}
			}
		}
	}
}

