<div class="navbar flexbox align-vertical space-between">
	<img src="assets/imgs/geekdev.svg" alt="">
	<div class="items-navbar flexbox align-vertical">
		<a href="#about"><p>About</p></a>
		<a href="#projects"><p>Projects</p></a>
		<a href="#team"><p>Team</p></a>
		<a href="#contact"><p>Contact</p></a>
	</div>
</div>
{{yield}}